<ion-header>
		<ion-navbar>
		  <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		  </button>
		  <ion-title>Récupérer Mot De Passe</ion-title>
		   <!--<ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
			  <ion-icon name="more"></ion-icon>
			</button>
		  </ion-buttons>-->
		</ion-navbar>
	  </ion-header>

<ion-content>
	<div class="logo">
		<img src="assets/img/appicon.png" alt="Ionic logo">
	</div>

	<form #loginForm="ngForm" novalidate>

    
		<ion-list no-lines>
			<ion-item *ngIf="!showPasswordDic">
				<ion-label stacked color="primary">E-mail</ion-label>
				<ion-input [(ngModel)]="user.email_user" name="email_user" type="text" #email_user="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="email_user.valid || submitted == false" color="danger" padding-left>
				E-mail est Obligatoire
			</p>

			<ion-item *ngIf="showPasswordDic">
				<ion-label stacked color="primary">Code Reçu</ion-label>
				<ion-input [(ngModel)]="user.code_postal_user" name="code_postal_user" type="text" #code_postal_user="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="code_postal_user.valid || submitted == false" color="danger" padding-left>
				Code Reçu  est Obligatoire
			</p>

			<ion-item *ngIf="showPasswordDic">
				<ion-label stacked color="primary">Nouveau Mot De Passe</ion-label>
				<ion-input [(ngModel)]="user.password" name="password" type="text" #password="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Mot De Passe est Obligatoire
			</p>



		<ion-row responsive-sm>
			<ion-col>
				<button *ngIf="!showPasswordDic" ion-button (click)="onRetreivePassword(ngForm)" block>Récupérer</button>
				<button *ngIf="showPasswordDic" ion-button (click)="onChangePassword(ngForm)" block>Valider</button>

			</ion-col>
    </ion-row>
    </ion-list>

	

	</form>

</ion-content>
