page-inventorylocation {
    .large{
        display: inline-block;
        min-height: 100px;
        margin: 10px;
        padding: 2px;
        border-radius: 2%;
    }
    .center{
            margin: auto;
            text-align: center;

            color: blue;
    }
}
